*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.class
tests/antlr
.idea/
*.pyc
*.swp
*.tokens

GrammarLexer.java
GrammarParser.java
src/checker/GrammarChecker.java
src/TAM/GrammarTAM.java
